@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

html {
  --background: white;
  --foreground: black;
}

html.dark {
  --background: rgb(18, 18, 18);
  --foreground: white;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: var(--background);
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

#theme-button {
  border: none;
  background-color: var(--foreground);
  color: var(--background);
  padding: 6px 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.clock-hands {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hour-hand {
  width: 65px;
  height: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--foreground);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0%;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

#minute-hand {
  width: 100px;
  height: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--foreground);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0%;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

#second-hand {
  width: 100px;
  height: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 93, 93);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0%;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

#clock-center {
  background-color: var(--foreground);
  width: 9px;
  height: 9px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 2px solid rgb(255, 93, 93);
  z-index: 2;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

#time {
  font-size: 60px;
  font-weight: 200;
  color: var(--foreground);
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}

#date {
  color: rgb(134, 134, 134);
  text-transform: uppercase;
  font-size: 14px;
}

#day {
  color: rgb(134, 134, 134);
  font-size: 14px;
  background-color: var(--foreground);
  line-height: 22px;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
}

.placeholder {
  width: 0;
  height: 20px;
}
