* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(232, 150, 120);
}

#auto-text {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
}

.speed-container {
  position: absolute;
  bottom: 28px;
  background-color: rgb(216, 135, 105);
  padding: 10px 22px;
  font-size: 18px;
}

#speed {
  background-color: rgb(232, 150, 120);
  outline: none;
  border: none;
  font-size: 16px;
  width: 52px;
  padding: 8px;
}
